
@{
    ViewBag.Title = "MissionFAQ";
  
}

<h2>@ViewBag.Title.</h2>

<script src="~/Scripts/ExtraDesign.js"></script>
<link href="~/Content/myStyle.css" rel="stylesheet" />

<h2>Mission FAQ</h2>
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/Home/Index">Home /</a>
    <a class="breadcrumb-item" href="/Home/Missions"> Missions /</a>
    <span class="breadcrumb-item active"> Mission FAQ's</span>
</nav>

<div class="container">

    <div class="row">

        <div class="col-md-6">
                    <h3>@ViewBag.Name</h3>
                    <p></p>

                    <div class="container">
                        <img class="img-responsive" src="@ViewBag.Flag" />

                    </div>

            </div>

        <div class="col-md-6">

            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th><strong>Mission Information</strong></th>
                        
                   
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Mission name</th>
                        <td>@ViewBag.Name</td>
                    </tr>

                    <tr>         
                        <th>Mission President's name</th>
                        <td>@ViewBag.President</td> 
                    </tr>

                    <tr>
                        <th>Mission Address</th>
                        <td>@ViewBag.Address</td> 
                    </tr>

                    <tr>
                        <th>Mission Phone</th>
                        <td>@ViewBag.Phone</td>
                    </tr>
                    
                    <tr>
                        <th>Language</th>
                        <td>@ViewBag.Language</td>
                    </tr>

                    <tr>
                        <th>Climate</th>
                        <td>@ViewBag.Climate</td>
                    </tr>

                    <tr>
                        <th>Dominate religion</th>
                        <td>@ViewBag.DominateReg</td>
                    </tr>
                    

                </tbody>
            </table>

        </div>

        <div class="container">

            <div id="story"></div>

            <input id="answerField" name="number" placeholder="Ask Here" />
        

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ask">ENTER</button>

        </div>

        <p></p>

        <div id="ask" class="collapse">
            <p>Answer: The Lord has all the answers, go pray and seek his guidence</p>
        </div>


    </div>

</div>

<p></p>

<p></p>

    <!-- Wrapper Start -->
<div class="container">

    <div class="wrapper748 center padding-40 tablet-padding">

        <!-- Comment Form Start -->
        <div class="row shadow padding-15 white">

            <form class="form wire teal">



                <div class="row pull-left -margin padding-top-10">
                    <textarea placeholder="say something..."></textarea>

                    <button class="btn teal pull-right">Submit</button>
                </div>
            </form>

        </div>
        <!-- Comment Form End --> 
        <!-- Filter End -->

        <h1>FAQ</h1>

        <!-- Comments Start -->
        <div class="row padding-top-20">

            <!-- A Comment Start ----------------------------------------------------------------------------------->
            <div class="col-2 margin-bottom padding-15 fill-white shadow border border-1 solid teal padding-bottom-5">

                <!-- Comment Header Start -->
                <div class="row">
                    <div class="col-4">
                        <a href="/Home/About" class="img-responsive">
                            <img src="~/Content/Images/nouser.png" width="50" height="70" />
                        </a>
                    </div>

                    <div class="col-4 padding-5">
                        <p class="lh-2 padding-top-5">
                            <a href="/Home/About" class="text-teal text-strong hover-text-underline">Some Dude</a>
                        </p>
                        <p class="lh-2"><span>2 min ago</span></p>
                    </div>
                </div>
                <!-- Comment Header End -->
                <!-- Comment Content Start -->
                <div class="row padding-5">
                    <p>
                        Preparing for a mission can be hard especially if you have limited time to prepare.
                        Make sure you write down all you need to accomplish in order to not forget anything.
                        Go back and check off the list that you made to see what you have left.
                    </p>
                </div>
                <!-- Comment Content End -->
                <!-- Comment Meta Start -->
                <div class="row padding-5 border border-top border-1 solid silver margin-top">

                    <!-- Voting Start -->
                    <a href="/Home/About" class="btn hover-fill-disable fill-transparent text-teal -padding-left">
                        <i class="fa fa-lg fa-angle-up"></i> 69
                    </a>
                    <a href="/Home/About" class="btn  hover-fill-disable fill-transparent text-red">
                        <i class="fa fa-lg fa-angle-down"></i> 45
                    </a>
                    <!-- Voting End -->
                    <!-- Action Start -->
                    <div class="pull-right">
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal">
                            <i class="fa fa-exclamation-triangle"></i> Report
                        </a>
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal -padding-right">
                            <i class="fa fa-reply"></i> Reply
                        </a>
                    </div>
                    <!-- Actions End -->

                </div>
                <!-- Comment Meta End -->

            </div>
            <!-- Nested Comment End -->
            <!-- A Comment Start -->
            <!-- A Comment End -->
            <!-- Nested Comment Start -->
            <!-- A Comment Start ----------------------------------------------------------------------------------->
            <div class="col-2 margin-bottom padding-15 fill-white shadow border border-1 solid teal padding-bottom-5">

                <!-- Comment Header Start -->
                <div class="row">
                    <div class="col-4">
                        <a href="/Home/About" class="img-responsive">
                            <img src="~/Content/Images/nouser.png" width="50" height="70" />
                        </a>
                    </div>

                    <div class="col-4 padding-5">
                        <p class="lh-2 padding-top-5">
                            <a href="/Home/About" class="text-teal text-strong hover-text-underline">Some Dude</a>
                        </p>
                        <p class="lh-2"><span>2 min ago</span></p>
                    </div>
                </div>
                <!-- Comment Header End -->
                <!-- Comment Content Start -->
                <div class="row padding-5">
                    <p>
                        Being a sister missionary is great and being a returned sister missionary is 
                        even better! Some sisters may not think so, but I want to give you six reminders 
                        to help you see that life after the mission is as great as you make it, just like the mission.
                    </p>
                </div>
                <!-- Comment Content End -->
                <!-- Comment Meta Start -->
                <div class="row padding-5 border border-top border-1 solid silver margin-top">

                    <!-- Voting Start -->
                    <a href="/Home/About" class="btn hover-fill-disable fill-transparent text-teal -padding-left">
                        <i class="fa fa-lg fa-angle-up"></i> 69
                    </a>
                    <a href="/Home/About" class="btn  hover-fill-disable fill-transparent text-red">
                        <i class="fa fa-lg fa-angle-down"></i> 45
                    </a>
                    <!-- Voting End -->
                    <!-- Action Start -->
                    <div class="pull-right">
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal">
                            <i class="fa fa-exclamation-triangle"></i> Report
                        </a>
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal -padding-right">
                            <i class="fa fa-reply"></i> Reply
                        </a>
                    </div>
                    <!-- Actions End -->

                </div>
                <!-- Comment Meta End -->

            </div>
            <!-- Nested Comment End -->
            <!-- A Comment Start -->
            <!-- A Comment Start ----------------------------------------------------------------------------------->
            <div class="col-2 margin-bottom padding-15 fill-white shadow border border-1 solid teal padding-bottom-5">

                <!-- Comment Header Start -->
                <div class="row">
                    <div class="col-4">
                        <a href="/Home/About" class="img-responsive">
                            <img src="~/Content/Images/nouser.png" width="50" height="70" />
                        </a>
                    </div>

                    <div class="col-4 padding-5">
                        <p class="lh-2 padding-top-5">
                            <a href="/Home/About" class="text-teal text-strong hover-text-underline">Some Dude</a>
                        </p>
                        <p class="lh-2"><span>2 min ago</span></p>
                    </div>
                </div>
                <!-- Comment Header End -->
                <!-- Comment Content Start -->
                <div class="row padding-5">
                    <p>
                        Elder M. Russell Ballard recently gave a talk where he encouraged us to interview ourselves.
                         He suggested that we honestly ask ourselves “how am I doing?” You probably felt the Spirit tell you to have that interview.
                    </p>
                </div>
                <!-- Comment Content End -->
                <!-- Comment Meta Start -->
                <div class="row padding-5 border border-top border-1 solid silver margin-top">

                    <!-- Voting Start -->
                    <a href="/Home/About" class="btn hover-fill-disable fill-transparent text-teal -padding-left">
                        <i class="fa fa-lg fa-angle-up"></i> 69
                    </a>
                    <a href="/Home/About" class="btn  hover-fill-disable fill-transparent text-red">
                        <i class="fa fa-lg fa-angle-down"></i> 45
                    </a>
                    <!-- Voting End -->
                    <!-- Action Start -->
                    <div class="pull-right">
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal">
                            <i class="fa fa-exclamation-triangle"></i> Report
                        </a>
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal -padding-right">
                            <i class="fa fa-reply"></i> Reply
                        </a>
                    </div>
                    <!-- Actions End -->

                </div>
                <!-- Comment Meta End -->

            </div>
            <!-- Nested Comment End -->
            <!-- A Comment Start -->


        </div>
        <!-- Comments End -->

    </div>
    <!-- Wrapper End -->
</div>