
@{
    ViewBag.Title = "MissionFAQ";
  
}

<h2>@ViewBag.Title.</h2>

<script src="~/Scripts/ExtraDesign.js"></script>
<link href="~/Content/myStyle.css" rel="stylesheet" />

<h2>Mission FAQ</h2>
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/Home/Index">Home /</a>
    <a class="breadcrumb-item" href="/Home/Missions"> Missions /</a>
    <span class="breadcrumb-item active"> Mission FAQ's</span>
</nav>

<div class="container">

    <div class="row">

        <div class="col-md-6">
                    <h3>@ViewBag.Name</h3>
                    <p></p>

                    <div class="container">
                        <img class="img-responsive" src="@ViewBag.Flag" />

                    </div>

            </div>

        <div class="col-md-6">

            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th><strong>Mission Information</strong></th>
                        
                   
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Mission name</th>
                        <td>@ViewBag.Name</td>
                    </tr>

                    <tr>         
                        <th>Mission President's name</th>
                        <td>@ViewBag.President</td> 
                    </tr>

                    <tr>
                        <th>Mission Address</th>
                        <td>@ViewBag.Address</td> 
                    </tr>

                    <tr>
                        <th>Mission Phone</th>
                        <td>@ViewBag.Phone</td>
                    </tr>
                    
                    <tr>
                        <th>Language</th>
                        <td>@ViewBag.Language</td>
                    </tr>

                    <tr>
                        <th>Climate</th>
                        <td>@ViewBag.Climate</td>
                    </tr>

                    <tr>
                        <th>Dominate religion</th>
                        <td>@ViewBag.DominateReg</td>
                    </tr>
                    

                </tbody>
            </table>

        </div>
<br />
        <!--Button to Add Question view----------------------------------------------------------------------------------------------->
        <div class="container">
         
          @Html.ActionLink("Frequently Asked Questions", "DisplayQuestions", "Home", new { id = ViewBag.missionID }, null)

        </div>

        <p></p>

        <div id="ask" class="collapse">
            <p>Answer: The Lord has all the answers, go pray and seek his guidence</p>
        </div>


    </div>

</div>

<p></p>

<p></p>

   